/* DEMO GENERAL ============================== */

.hideme
{
    opacity:0;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner.jpeg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
    height: 600px;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all 0.4s;
}

.hover-text {
    width: 100%;
    height: 200px;
}

.hover img {
    width: 100%;
    height: 400px;
    object-position: center center;
    object-fit: contain;
    position: absolute;
    transition: all 0.3s;
}

.myport img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.hover-content {
    position: relative;
    z-index: 4;
}

.hover-5::after {
    content: '';
    width: 100%;
    height: 10px;
    background: #9f1d89;
    position: absolute;
    bottom: -10px;
    left: 0;
    display: block;
    transition: all 0.3s;
    z-index: 999;
}

.hover-5 .hover-overlay-separate {
    background: rgba(139, 139, 139, 0.4);
    opacity: 0.4;
}

.hover-5-title {
    position: absolute;
    bottom: 1rem;
    left: 0;
    transition: all 0.3s;
    padding: 2rem 3rem;
    z-index: 99;
}

.hover-5-title span {
    transition: all 0.4s;
    opacity: 0;
    color: #9f1d89;
}

.hover-5:hover .hover-overlay,
.hover-overlay-separate {
    background: rgba(92, 90, 91, 0.486);
}

.hover-5:hover .hover-5-title {
    bottom: 0;
}

.hover-5:hover .hover-5-title span {
    opacity: 1;
}

.hover-5:hover::after {
    bottom: 0;
}

.navbar-toggler,
.toggler-menu {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0;
    border-radius: 0;
    padding: 0;
    margin-left: 15px;
    background: transparent;
    border: none;
    outline: none
}

.navbar-toggler span,
.toggler-menu span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 2px;
    margin: auto;
    box-shadow: 0px -8px 0 0px currentColor, 0px 8px 0 0px currentColor;
    background: #191b13;
    color: #191b13
}

.mob-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    left: 0;
    padding: 6px 10px
}

.mob-header.fixed-header {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px
}

@media (min-width: 1201px) {
    .mob-header {
        padding: 30px 40px;
        -moz-transition: ease all 0.35s;
        -o-transition: ease all 0.35s;
        -webkit-transition: ease all 0.35s;
        transition: ease all 0.35s
    }
    .mob-header.fixed-header {
        padding: 15px 40px
    }
    .mob-header.mh-desk {
        display: none
    }
}

.mob-header .toggler-menu {
    margin-left: auto
}

.mob-header .navbar-brand {
    font-size: 30px;
    padding: 0 15px;
    z-index: 3!important;
}

@media (max-width: 991px) {
    .mob-header .navbar-brand {
        padding: 0
    }
}

.mob-header .navbar-brand a {
    color: #ea4020;
    font-weight: 700
}

.mob-header.dark .navbar-brand a {
    color: #fff
}

.mob-header.dark .toggler-menu span {
    background: #fff;
    color: #fff
}

.mob-header.dark.fixed-header .navbar-brand a {
    color: #191b13
}

.mob-header.dark.fixed-header .toggler-menu span {
    background: #191b13;
    color: #191b13
}

.header-left {
    position: fixed;
    top: 0;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 0;
    bottom: 0;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.29);
    z-index: 99;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    right: -450px;
    background: #191b13
}

.header-left.menu-open {
    right: 0
}

@media (min-width: 1201px) {
    .header-left.hl-desk {
        right: 0
    }
}

.header-left .hl-top {
    text-align: center;
    padding-bottom: 45px;
    padding-top: 45px
}

.header-left .hl-top .hl-logo {
    text-align: center;
    font-size: 32px;
    line-height: 30px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase
}

.header-left .hl-top .hl-logo a {
    color: #fff;
    text-decoration: none
}

.header-left .hl-top .hl-logo span {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    letter-spacing: 2px
}

.header-left .close-icon {
    text-align: right;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 11
}

.header-left .close-icon .hl_menu_close {
    width: 40px;
    height: 40px;
    border: none;
    box-shadow: none;
    outline: none;
    position: relative;
    background: transparent;
    cursor: pointer;
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    -ms-transform: scale(.9);
    -webkit-transform: scale(.9);
    transform: scale(.9);
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s
}

.header-left .close-icon .hl_menu_close span {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.header-left .close-icon .hl_menu_close span:before,
.header-left .close-icon .hl_menu_close span:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: currentColor
}

.header-left .close-icon .hl_menu_close span:before {
    width: 22px;
    height: 2px
}

.header-left .close-icon .hl_menu_close span:after {
    height: 22px;
    width: 2px
}

.header-left .close-icon .hl_menu_close:hover {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.header-left .nav {
    padding: 100px 50px 50px;
    max-height: calc(100% - 150px);
    overflow-y: auto
}

@media (max-width: 767px) {
    .header-left .nav {
        padding: 70px 30px 30px
    }
}

.header-left .nav li {
    width: 100%;
    padding: 15px 0
}

@media (max-width: 767px) {
    .header-left .nav li {
        padding: 10px 0
    }
}

.header-left .nav li a {
    font-size: 26px;
    font-weight: 400;
    padding: 0px;
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
    position: relative;
    display: inline-block
}

@media (max-width: 767px) {
    .header-left .nav li a {
        font-size: 20px
    }
}

.header-left .nav li a:after {
    content: "";
    width: 0px;
    background: #ea4020;
    height: 2px;
    left: auto;
    bottom: 0;
    right: 0;
    position: absolute;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s
}

.header-left .nav li a.active,
.header-left .nav li a:hover {
    color: #fff
}

.header-left .nav li a.active:after,
.header-left .nav li a:hover:after {
    width: 100%;
    left: 0;
    right: auto
}

.header-left .header-contact {
    padding: 20px 50px 50px;
    margin-top: auto
}

@media (max-width: 767px) {
    .header-left .header-contact {
        padding: 20px 30px 50px
    }
}

.header-left .header-contact label {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 200;
    width: 100%
}

@media (max-width: 767px) {
    .header-left .header-contact label {
        font-size: 16px
    }
}

.header-left .header-contact a {
    font-size: 25px;
    font-weight: 600;
    color: #fff
}

@media (max-width: 767px) {
    .header-left .header-contact a {
        font-size: 20px
    }
}